// Tipografía
$font-primary: 'Inter', sans-serif;

// Paleta de colores
$color-primary: #01C38E;
$color-secondary: #474747;
$color-background: #f9f9f9;
$color-text: #333;

// Otros
$border-radius: 8px;
$input-padding: 0.75rem 1rem;